<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/Base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home</title>
</head>
<body>

<section class="banner">
	
		<div class="container text-center  ">
			<div class="card bg-transparent "  th:if="${contact}">
				<div class="card-body mt-2">
					
					<img th:src="@{'/images/'+${contact.Image}}" alt="" style="width: 200px; height: 200px; border-radius: 150px; object-fit:cover;" />
					<h1><span th:text="${contact.Name}"></span>(<span th:text="${contact.Nickname}"></span>)</h1>
					<table class="table table-hover table-bordered " >
						  
						    <tr>
						     <th scope="col">#ID :</th>
						     <td th:text="${contact.ContactId}">@mdo</td>
						    </tr>
						 
						  
						    <tr>
						     <th scope="col">Mobile Number : </th>
						     <td th:text="${contact.MobileNo}">@mdo</td>
						    </tr>
						    
						     <tr>
						     <th scope="col">Email :</th>
						     <td th:text="${contact.Email}">@mdo</td>
						    </tr>
						    
						     <tr>
						     <th scope="col">Work :</th>
						     <td th:text="${contact.Work}">@mdo</td>
						    </tr>
						    <tr>
						     <th scope="col">Action :</th>
						     <td>
						     <a href="#" th:onclick="|DeleteContact(${contact.ContactId})|" >
						      <i class="fa-solid fa-trash-can text-danger" ></i></a>
						      	 
						      	<form id="form" method="post" th:action="@{'/user/updateContact/'+${contact.ContactId}}">
						      	 
						      	 	<button type="submit" class="bg-transparent border-0"><i class="fa-solid fa-pen-nib text-primary "></i></button>
						      
						      </form>
						     </td>
						    </tr>
						   
						  
					</table>
					
					<span th:text="${contact.Discription}"></span>
				</div>
			</div>
		</div>
		
		<h3 th:unless="${contact}" class="mt-5 text-center" style="position: relative;top: 50px;"> You don't have authority to view this contact...</h3>
	
	</section>
</body>
</html>