<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Base::layout(~{::section})">

<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>

<body>

    <section class="banner">
        <div class="container  text-center text-primary">
            <div class="card " style="position: relative; top: 230px;left: 30px; opacity: .9;">
                <div class="card-body bg-light">
                    <div class="row bg-dark">
                        <div class="col-md-10 offset-md-1 my-3">
                            <form th:action="@{/sendOTP}" method="post">
                                <h3 class="">Forgot Password</h3>
                                <div th:if="${session.Status}" class="alert alert-danger" role="alert">
                                    <p th:text="${session.Status}"></p>
                                    <th:block th:text="${#session.removeAttribute('Status')}"></th:block>
                                </div>

                                <div th:if="${session.wrongemail}" class="alert alert-danger" role="alert">
                                    <p th:text="${session.wrongemail}"></p>
                                    <th:block th:text="${#session.removeAttribute('wrongemail')}"></th:block>
                                </div>
                                
                                <div class="form-group col-md-8  offset-md-2">
                                    <label for="exampleInputEmail1"> Username :</label>
                                    <input type="email" class="form-control  text-primary" id="email" name="email"
                                        aria-describedby="username" placeholder="Enter email" />

                                </div>
                                <Button type="submit" class="btn btn-primary">Send OTP</Button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>