<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="Base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home</title>
</head>
<body>
	<section class="banner">
		<div class="img1">
		
		</div>
		
		<div class="img2">
		
		</div>
		
		<div class="center">
			<h1>Smart Contact Manager</h1>
			<p>The contact manager helps in managing customers better than the rival companies. It has recorded the details of the customer prospects, interactions through calls, emails, faxes, etc. and handled various opportunities that prove useful in the current and future dealings.</p>
		</div>
		
		<div class="img3">
		
		</div>
		
		<div class="img4">
		
		</div>
	</section>
</body>
</html>